/* [project]/dev/portfolio-2.1/src/utils/reset.css [app-client] (css) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* [project]/dev/portfolio-2.1/src/utils/fonts.css [app-client] (css) */
@font-face {
  font-family: axiformalight;
  src: url("/fonts/kastelov_-_axiforma_light-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: axiformamedium;
  src: url("/fonts/kastelov_-_axiforma_medium-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: axiformaregular;
  src: url("/fonts/kastelov_-_axiforma_regular-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: axiformasemibold;
  src: url("/fonts/kastelov_-_axiforma_semibold-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: axiformathin;
  src: url("/fonts/kastelov_-_axiforma_thin-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: axiformaheavy;
  src: url("/fonts/kastelov_-_axiforma_heavy-webfont.woff2") format("woff2"), url("/fonts/kastelov_-_axiforma_heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* [project]/dev/portfolio-2.1/src/index.css [app-client] (css) */
@theme {
  --color-dark: var(--dark-color) ; --color-bright: var(--bright-color) ; --color-third: var(--third-color) ; --color-transparent: var(--transparent) ; --font-main-thin: var(--main-font-thin) ; --font-main-light: var(--main-font-light) ; --font-main-regular: var(--main-font-regular) ; --font-main-medium: var(--main-font-medium) ; --font-main-semibold: var(--main-font-semibold) ; --font-main-heavy: var(--main-font-heavy) ; --font-second: var(--second-font) ;
}

:root {
  --main-font-thin: "axiformathin", sans-serif;
  --main-font-light: "axiformalight", sans-serif;
  --main-font-regular: "axiformaregular", sans-serif;
  --main-font-medium: "axiformamedium", sans-serif;
  --main-font-semibold: "axiformasemibold", sans-serif;
  --main-font-heavy: "axiformaheavy", sans-serif;
  --second-font: "Hubballi", cursive;
  --dark-color: #1c1c1c;
  --bright-color: #fff;
  --third-color: #ed1c24;
  --transparent: #0000;
  --gradient: linear-gradient(to right top, #1c1c1c, #3a3939, #5a5959, #7c7b7a, #9f9f9d);
}

@layer base {
  @apply font-main-thin bg-dark text-white leading-relaxed;

  body {
    font-size: 100%;
  }

  @apply uppercase;

  @apply no-underline;
}

@layer components {
  @apply font-main-regular text-[3rem] capitalize text-center mt-[3em] leading-[3.5rem];

  @apply max-w-[85em] mx-auto;
}

/* [project]/dev/portfolio-2.1/src/app/globals.css [app-client] (css) */


/*# sourceMappingURL=dev_portfolio-2_1_src_82952714._.css.map*/