/* [project]/dev/portfolio-2.1/src/index.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-duration: initial;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-white: #fff;
    --spacing: .25rem;
    --leading-relaxed: 1.625;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-dark: var(--dark-color);
    --color-bright: var(--bright-color);
    --color-third: var(--third-color);
    --font-main-thin: var(--main-font-thin);
    --font-main-regular: var(--main-font-regular);
    --font-main-semibold: var(--main-font-semibold);
    --font-main-heavy: var(--main-font-heavy);
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }

  body {
    background-color: var(--color-dark);
    font-family: var(--font-main-thin);
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
    color: var(--color-white);
    font-size: 100%;
  }

  h1, h2, button {
    text-transform: uppercase;
  }

  a {
    text-decoration-line: none;
  }
}

@layer components {
  .section-title {
    text-align: center;
    font-family: var(--font-main-regular);
    --tw-leading: 3.5rem;
    text-transform: capitalize;
    margin-top: 3em;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .container {
    max-width: 85em;
    margin-inline: auto;
  }
}

@layer utilities {
  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .bottom-\[3\%\] {
    bottom: 3%;
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .left-\[49\%\] {
    left: 49%;
  }

  .z-2 {
    z-index: 2;
  }

  .z-3 {
    z-index: 3;
  }

  .z-10 {
    z-index: 10;
  }

  .col-start-1 {
    grid-column-start: 1;
  }

  .col-start-2 {
    grid-column-start: 2;
  }

  .row-start-1 {
    grid-row-start: 1;
  }

  .row-start-2 {
    grid-row-start: 2;
  }

  .row-start-3 {
    grid-row-start: 3;
  }

  .row-start-5 {
    grid-row-start: 5;
  }

  .row-start-6 {
    grid-row-start: 6;
  }

  .row-start-7 {
    grid-row-start: 7;
  }

  .row-start-8 {
    grid-row-start: 8;
  }

  .row-start-10 {
    grid-row-start: 10;
  }

  .container {
    width: 100%;
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (min-width: 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (min-width: 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mt-12 {
    margin-top: calc(var(--spacing) * 12);
  }

  .mt-16 {
    margin-top: calc(var(--spacing) * 16);
  }

  .mt-20 {
    margin-top: calc(var(--spacing) * 20);
  }

  .mr-4 {
    margin-right: calc(var(--spacing) * 4);
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .ml-1 {
    margin-left: calc(var(--spacing) * 1);
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .h-10 {
    height: calc(var(--spacing) * 10);
  }

  .h-\[13em\] {
    height: 13em;
  }

  .h-\[33px\] {
    height: 33px;
  }

  .h-\[70\%\] {
    height: 70%;
  }

  .h-full {
    height: 100%;
  }

  .h-screen {
    height: 100vh;
  }

  .w-10 {
    width: calc(var(--spacing) * 10);
  }

  .w-\[15em\] {
    width: 15em;
  }

  .w-\[33px\] {
    width: 33px;
  }

  .w-\[35px\] {
    width: 35px;
  }

  .w-\[70\%\] {
    width: 70%;
  }

  .w-\[90\%\] {
    width: 90%;
  }

  .w-\[120px\] {
    width: 120px;
  }

  .w-full {
    width: 100%;
  }

  .max-w-\[80em\] {
    max-width: 80em;
  }

  .-translate-x-1\/2 {
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .transform {
    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .self-end {
    align-self: flex-end;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0;
  }

  .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }

  .border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

  .border-third {
    border-color: var(--color-third);
  }

  .border-white\/20 {
    border-color: #fff3;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .border-white\/20 {
      border-color: color-mix(in oklab, var(--color-white) 20%, transparent);
    }
  }

  .bg-\[\#282828\] {
    background-color: #282828;
  }

  .bg-dark {
    background-color: var(--color-dark);
  }

  .bg-dark\/50 {
    background-color: var(--color-dark);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-dark\/50 {
      background-color: color-mix(in oklab, var(--color-dark) 50%, transparent);
    }
  }

  .pb-16 {
    padding-bottom: calc(var(--spacing) * 16);
  }

  .text-left {
    text-align: left;
  }

  .font-main-heavy {
    font-family: var(--font-main-heavy);
  }

  .font-main-regular {
    font-family: var(--font-main-regular);
  }

  .font-main-semibold {
    font-family: var(--font-main-semibold);
  }

  .text-\[0\.7rem\] {
    font-size: .7rem;
  }

  .text-\[0\.8rem\] {
    font-size: .8rem;
  }

  .text-\[0\.9rem\] {
    font-size: .9rem;
  }

  .text-\[1\.7rem\] {
    font-size: 1.7rem;
  }

  .leading-\[1\.5rem\] {
    --tw-leading: 1.5rem;
    line-height: 1.5rem;
  }

  .leading-none {
    --tw-leading: 1;
    line-height: 1;
  }

  .text-bright {
    color: var(--color-bright);
  }

  .text-third {
    color: var(--color-third);
  }

  .uppercase {
    text-transform: uppercase;
  }

  .underline {
    text-decoration-line: underline;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-40 {
    opacity: .4;
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .duration-200 {
    --tw-duration: .2s;
    transition-duration: .2s;
  }

  @media (hover: hover) {
    .group-hover\:opacity-100:is(:where(.group):hover *) {
      opacity: 1;
    }
  }

  .visited\:text-white:visited {
    color: var(--color-white);
  }

  @media (hover: hover) {
    .hover\:-translate-x-\[3px\]:hover {
      --tw-translate-x: calc(3px * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

  @media (hover: hover) {
    .hover\:font-main-semibold:hover {
      font-family: var(--font-main-semibold);
    }
  }

  @media (hover: hover) {
    .hover\:text-third:hover {
      color: var(--color-third);
    }
  }

  .active\:text-white:active {
    color: var(--color-white);
  }

  @media (min-width: 64rem) {
    .lg\:col-start-1 {
      grid-column-start: 1;
    }
  }

  @media (min-width: 64rem) {
    .lg\:col-start-3 {
      grid-column-start: 3;
    }
  }

  @media (min-width: 64rem) {
    .lg\:col-start-4 {
      grid-column-start: 4;
    }
  }

  @media (min-width: 64rem) {
    .lg\:row-start-1 {
      grid-row-start: 1;
    }
  }

  @media (min-width: 64rem) {
    .lg\:row-start-2 {
      grid-row-start: 2;
    }
  }

  @media (min-width: 64rem) {
    .lg\:row-start-3 {
      grid-row-start: 3;
    }
  }

  @media (min-width: 64rem) {
    .lg\:row-start-4 {
      grid-row-start: 4;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-0 {
      margin-top: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 64rem) {
    .lg\:block {
      display: block;
    }
  }

  @media (min-width: 64rem) {
    .lg\:flex {
      display: flex;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[60\%\] {
      width: 60%;
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-\[24ch\] {
      max-width: 24ch;
    }
  }

  @media (min-width: 64rem) {
    .lg\:grid-cols-\[2fr_1fr_1fr_1fr\] {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
  }

  @media (min-width: 64rem) {
    .lg\:grid-rows-\[repeat\(4\,auto\)\] {
      grid-template-rows: repeat(4, auto);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-x-16 {
      column-gap: calc(var(--spacing) * 16);
    }
  }
}

:root {
  --main-font-thin: "axiformathin", sans-serif;
  --main-font-light: "axiformalight", sans-serif;
  --main-font-regular: "axiformaregular", sans-serif;
  --main-font-medium: "axiformamedium", sans-serif;
  --main-font-semibold: "axiformasemibold", sans-serif;
  --main-font-heavy: "axiformaheavy", sans-serif;
  --second-font: "Hubballi", cursive;
  --dark-color: #1c1c1c;
  --bright-color: #fff;
  --third-color: #ed1c24;
  --transparent: #0000;
  --gradient: linear-gradient(to right top, #1c1c1c, #3a3939, #5a5959, #7c7b7a, #9f9f9d);
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=dev_portfolio-2_1_src_index_css_bad6b30c._.single.css.map*/