/* [project]/dev/portfolio-2.1/src/components/WhyCard.css [app-client] (css) */
.why-container {
  width: max-content;
  color: var(--bright-color);
  z-index: 10;
  align-items: flex-end;
  display: flex;
  position: absolute;
  transform: translate(-50%);
}

.why-container__toggle {
  background-color: var(--dark-color);
  width: 40px;
  height: 40px;
  box-shadow: 0 0 var(--bright-color), 0 0 var(--bright-color), 0 0 var(--bright-color);
  cursor: pointer;
  border: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  display: flex;
  position: relative;
  transform: translateX(0)translateY(0);
}

.why-container__toggle--active {
  background-color: var(--third-color);
  box-shadow: -1px 1px var(--bright-color), -2px 2px var(--bright-color), -3px 3px var(--bright-color);
  transform: translateX(3px)translateY(3px);
}

.why-container__label {
  color: var(--bright-color);
  font-family: var(--main-font-regular);
  text-align: center;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  font-size: .65rem;
  line-height: .7rem;
  animation-name: icon-shake;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: none;
  position: absolute;
  top: -2em;
  left: -6px;
}

.why-container__label--active {
  display: block;
}

@keyframes icon-shake {
  50% {
    transform: translateX(2px)rotate(3deg);
  }

  100% {
    transform: translateX(-2px)rotate(-3deg);
  }
}

@keyframes hvr-buzz {
  50% {
    transform: translateX(2px)rotate(3deg);
  }

  100% {
    transform: translateX(-2px)rotate(-3deg);
  }
}

.why-container__eye {
  width: 30px;
}

.why {
  background-color: var(--third-color);
  flex-direction: column;
  width: 21em;
  padding: 0 1.8em;
  animation: .3s linear both card-open;
  display: none;
  position: absolute;
  bottom: 3em;
  left: calc(20px - 10.5em);
}

.why__close {
  cursor: pointer;
  padding: .5em;
  position: absolute;
  top: 0;
  right: 0;
}

.why__item {
  flex-direction: column;
  width: auto;
  display: flex;
}

.why__title {
  font-family: var(--main-font-semibold);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding-bottom: .5em;
  padding-left: 2.5em;
  font-size: 1.1rem;
}

.why__title--flag {
  background-image: url("/images/why-icon-flag.svg");
}

.why__title--bolt {
  background-image: url("/images/why-icon-bolt.svg");
}

.why__title--brush {
  background-image: url("/images/why-icon-brush.svg");
}

.why__title--robot {
  background-image: url("/images/why-icon-robot.svg");
}

.why__description {
  font-family: var(--main-font-light);
}

.why__footer {
  background-color: var(--bright-color);
  color: var(--third-color);
  text-transform: uppercase;
  font-family: var(--main-font-regular);
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: .7rem;
  display: flex;
}

.why__footer-text {
  width: 32ch;
  padding: .5em 0;
}

.why__footer-icon {
  margin: 0 1em;
}

@keyframes card-open {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    box-shadow: 0 0 var(--bright-color), 0 0 var(--bright-color), 0 0 var(--bright-color);
    transform: scale(.5)translateX(0)translateY(0);
  }

  100% {
    opacity: 1;
    transform-origin: 0 100%;
    box-shadow: -1px 1px var(--bright-color), -2px 2px var(--bright-color), -3px 3px var(--bright-color);
    transform: scale(1)translateX(4px)translateY(4px);
  }
}

@media only screen and (min-width: 48em) {
  .why {
    width: max-content;
    padding: 0 2em;
    left: -10.5em;
  }

  .why__item {
    width: 30ch;
  }
}

@media only screen and (min-width: 62em) {
  .why {
    bottom: 0;
    left: 2.9em;
    transform: translate(0%);
  }
}

/*# sourceMappingURL=dev_portfolio-2_1_src_components_WhyCard_css_bad6b30c._.single.css.map*/